.section > h1 {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 84px;

  color: #ffffff;

  margin-bottom: 64px;
}
.section {
  color: white;
  margin-bottom: 180px;
  margin-left: 115px;
  position: relative;
}

.sliderContainer {
  display: flex;
  /* Стили для контейнера слайдера */
  align-items: center;
  gap: 40px;
}
.sliderContainer > :first-child {
  transform: rotateX('180');
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
  gap: 40px;
}

.slide {
  display: flex;
  flex-direction: column;

  width: 360px;
  height: 568px;

  background: linear-gradient(243.73deg, #0066ff -81.52%, rgba(0, 4, 41, 0) 4.85%);

  border: 1px solid;

  border-image-source: linear-gradient(180deg, #0066ff 0%, #00ffff 100%);
  border-image-slice: 1;
}
.slide > h2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;

  max-width: 292px;

  margin: 24px 0 0 34px;
}

.slide > p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #ffffff;

  max-width: 292px;

  margin: 16px 0 0 34px;
}
.slide > :last-child {
  margin: 24px 0 0 34px;
}
